

#calculator {
    font-size: 2em;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #display {
        text-align: right;
        font-size: 2em;
        margin-bottom: 1rem;
    }

    #calc-display {
        text-align: right;
        min-height: 3rem;
        color: #3f3e3e;
        line-height: 1em;
    }

    #clear {
        width: 100%;
        font-size: 1em;
    }
    
    #zero {
        @extend #clear;
    }
    
    #equals {
        @extend #clear;
    }
    
    .operator-btn {
        width: 100%;
        font-size: 1em;
    }    

    .number-btn {
        @extend .operator-btn;
    }

}